.container.bg-result
    .block-top.block-top_bg
        a(href="#").block-top__link
        .block-top__title Список найденных
        
            
    .search-res
        p.search-res__title Именинники
        ul.user-list
            li
                .user-list__top
                    span.user-list__date 1.04.1988
                    a(href="#").user-list__img
                        img(src="img/user-1.jpg" width="50" height="51")
                a(href="#").user-list__name Иванова Анна Николаевна 
            li
                .user-list__top
                    span.user-list__date 1.04.1988
                    a(href="#").user-list__img
                        img(src="img/user-2.jpg" width="50" height="51")
                a(href="#").user-list__name Никифоров Серей Валерьевич
            li
                .user-list__top
                    span.user-list__date 1.04.1988
                    a(href="#").user-list__img
                        img(src="img/user-3.jpg" width="50" height="51")
                a(href="#").user-list__name Орлов Николай Иванович
            li
                .user-list__top
                    span.user-list__date 1.04.1988
                    a(href="#").user-list__img
                        img(src="img/user-4.jpg" width="50" height="51")
                a(href="#").user-list__name Клубничкина Мария Витаминовна                 
                
        
