.container.bg-want
    .block-top
        a(href="#").block-top__link
        
    .block-title
        .block-title__img
            img(src="img/profile-img.jpg" width="120" height="120")
        .block-title__article
            p Список
            p желаемых подарков
        
    ul.present-list
        li
            .present-list__item
                .present-list__top
                    .present-list__title iPhone 11 Pro
                            
                .present-list__img        
                    img(src="img/iphone.jpg")
                    a(href="#").present-list__link Ссылка на подарок
                    
        li
            .present-list__item
                .present-list__top
                    .present-list__title Куртка Balenciaga
                            
                .present-list__img        
                    img(src="img/jacket.jpg")
                    a(href="#").present-list__link Ссылка на подарок
                    
        li
            .present-list__item
                .present-list__top
                    .present-list__title Mercedes-Benz GLS
                            
                .present-list__img        
                    img(src="img/mers.jpg")
                    a.present-list__link.no-link Ссылка отсутствует
                    
        li
            .present-list__item
                .present-list__top
                    .present-list__title iPhone 11 Pro
                            
                .present-list__img        
                    img(src="img/iphone.jpg")
                    a(href="#").present-list__link Ссылка на подарок
                    
        li
            .present-list__item
                .present-list__top
                    .present-list__title iPhone 11 Pro
                            
                .present-list__img        
                    img(src="img/iphone.jpg")
                    a(href="#").present-list__link Ссылка на подарок
                    
        li
            .present-list__item
                .present-list__top
                    .present-list__title Куртка Balenciaga
                            
                .present-list__img        
                    img(src="img/jacket.jpg")
                    a(href="#").present-list__link Ссылка на подарок
                    
        li
            .present-list__item
                .present-list__top
                    .present-list__title Mercedes-Benz GLS
                            
                .present-list__img        
                    img(src="img/mers.jpg")
                    a.present-list__link.no-link Ссылка отсутствует
                    
        li
            .present-list__item
                .present-list__top
                    .present-list__title iPhone 11 Pro
                            
                .present-list__img        
                    img(src="img/iphone.jpg")
                    a(href="#").present-list__link Ссылка на подарок

    
    
