.container.bg-profile
    .block-top.block-top_profile
        a(href="#").block-top__link
        .block-top__title.block-top__title_profile Профиль
    
    .profile-block
        p.profile-block__name Клубничкина Мария Витаминовна
        .profile-block__date 22.05.1988
        
        .profile-block__img
            img(src="img/profile-img.jpg" width="264" height="264")
        
        ul.profile-block__info
            li
                span 21 год
            li
                p Место рождения:
                p г.Керчь
        
        .profile-block__presents
            span Список <br> желаемых подарков
        
        a(href="#").profile-block__btn.btn оплатить
        
        p.profile-block__article стоимость доступа к подаркам на 24ч - 150р
            
        
