.container.bg-want
    .block-top
        a(href="#").block-top__link
        
    h1.main-title Хочу
    
    ul.present-list
        
        li
            .present-list__item
                .present-list__top
                    .present-list__title iPhone 11 Pro
                    .points
                        .tooltip
                            a(href="#").tooltip__link
                            button(type="button").tooltip__delete
                            
                .present-list__img        
                    img(src="img/iphone.jpg")
                    a(href="#").present-list__link Ссылка на подарок
                    
        li
            .present-list__item
                .present-list__top
                    .present-list__title Mercedes-Benz GLS
                    .points
                        .tooltip
                            a(href="#").tooltip__link
                            button(type="button").tooltip__delete
                            
                .present-list__img        
                    img(src="img/mers.jpg")
                    a(href="#").present-list__link Заменить ссылку
        li
            .present-list__item
                .present-list__top
                    .present-list__title Введите название 
                    .points
                        .tooltip
                            a(href="#").tooltip__link
                            button(type="button").tooltip__delete
                            
                .present-list__img
                    //- .add-image
                    //-     input(type="file")#addFile.inp-file
                    //-     label(for="addFile").add-img-btn      
                
                    a(href="#").present-list__link Заменить ссылку
        li
            .present-list__item
                .present-list__top
                    .present-list__title iPhone 11 Pro
                    .points
                        .tooltip
                            a(href="#").tooltip__link
                            button(type="button").tooltip__delete
                            
                .present-list__img        
                    img(src="img/iphone.jpg")
                    a(href="#").present-list__link Ссылка на подарок
        li
            .present-list__item
                a(href="#").present-list__link-add
    
    
