.container.bg-main.flex-block
    .main-logo
        img(src="img/logo.png" alt="Хочу подарок" width="378" height="297")
    
    ul.nav-list
        li
            a(href="#").search-link Найти именинника
        li
            a(href="#").profile-link Мой профиль
        li
            a(href="#").present-link Мои подарки
        li
            a(href="#").contact-link Показать «Мои Контакты» в ХочуПодарок 
        li
            a(href="#").share-link Поделиться
    
    ul.bottom-link
        li
            a(href="#") О нас
        li
            a(href="#") Контакты
            
