.container.bg-search
    .block-top
        a(href="#").block-top__link
    
    h1.main-title.main-title_search Найти<br> именинника
    
    form(action="#" method="post").form-inp
        input(type="text" placeholder="Телефон").inp.inp_phone
        input(type="text" placeholder="Имя").inp.inp_name 
        input(type="text" placeholder="Фамилия").inp.inp_surname 
        input(type="text" placeholder="Отчество").inp.inp_patronymic
        input(type="text" placeholder="Пол").inp.inp_gender
        input(type="date" placeholder="Дата рождения").inp.inp_date
        p.form-inp__article *Не все поля обязательны для заполнения
        .form-inp__btn-block
            button(type="submit").form-btn Поиск    
         
    
        
        
