.container.bg-profile
    .payment-status
        .payment-status__title Оплата не прошла
        .payment-status__icon
            img(src="img/cross-icon.png" width="88" height="88" alt="Оплата не прошла")
        a(href="#").payment-status__btn.btn Попробовать снова
        
            
        
