.container.bg-profile
    .block-top.block-top_bg
        a(href="#").block-top__link.block-top__link_inv
        form.search-form(action="#" method="post")
            input(type="text" placeholder="Поиск")

    .invite-title Нажмите
        img(src="img/invite-icon.png")
        |чтобы отправить приглашение Вашим контактам.
    
    ul.invite-list
        li
            .invite-list__name Олег
            a(href="#").invite-list__link
                img(src="img/invite-icon.png")
        li
            .invite-list__name Паша
            .invite-list__link
                img(src="img/invited-icon.png")
        li
            .invite-list__name Лера
            a(href="#").invite-list__link
                img(src="img/invite-icon.png")
        li
            .invite-list__name Гена
            a(href="#").invite-list__link
                img(src="img/invite-icon.png")
        li
            .invite-list__name Анджелика Ивановна
            .invite-list__link
                img(src="img/invited-icon.png")
