.container.bg-main.flex-block
    .main-logo.main-logo_auth
        img(src="img/logo.png" alt="Хочу подарок" width="378" height="297")
    
    .auth-block
        .auth-block__title Вход / Регистрация
        .auth-block__article номер телефона
        
        form.auth-block__form(action="#")
            label.auth-block__inp.auth-block__inp_tel
                input(type="text" placeholder="+7").inp_phone.inp
            
            button(type="submit").btn.auth-block__btn Отправить   
    
    ul.bottom-link
        li
            a(href="#") О нас
        li
            a(href="#") Контакты 
        
        
        
    

            
