.container.bg-want
    .block-top
        a(href="#").block-top__link
        
    h1.main-title.main-title_present Новый подарок
    
    form.add-present
        .add-present__top                
            .present-list__img
                .add-image
                    input(type="file")#addFile.inp-file
                    label(for="addFile").add-img-btn
            .add-present__article Добавьте фото подарка
        
        input(type="text" placeholder="Введите название подарка").inp.inp_present-name
        input(type="text" placeholder="Вставте ссылку на подарок").inp.inp_link
        .add-present__btn-wrap
            button(type="submit").btn.add-present__btn Сохранить    
             
                        

    
    
