.container.bg-contact
    .block-top
        a(href="#").block-top__link
        .block-top__title Контакты
        
    .main-logo.main-logo_contact
        img(src="img/logo.png" alt="Хочу подарок" width="378" height="297")
            
    .contact-info
        p Написать нам
        a(href="mailto:podarimne@pm.ru") podarimne@pm.ru
    
