.container.bg-notis
    .block-top.block-top_bg
        a(href="#").block-top__link
        .block-top__title.block-top__title_center Уведомления
        .sound-block
            span Звук
            button(type="button").sound-block__btn.off
            
        
    .notis-list
        ul.user-list
            li
                .user-list__top
                    span.user-list__date.user-list__date_time 14:30
                    a(href="#").user-list__img
                        img(src="img/user-1.jpg" width="50" height="51")
                .user-list__article Вам оплатили подарок «iPhone 11»
            li
                .user-list__top
                    span.user-list__date.user-list__date_time 9:00
                    a(href="#").user-list__img
                        img(src="img/mini-logo.png" width="50" height="51")
                .user-list__article Ваш аккаунт успешно верифицирован!
            li.darken
                .user-list__top
                    span.user-list__date.user-list__date_time
                .user-list__article Ваш аккаунт успешно верифицирован!
            li.darken
                .user-list__top
                    span.user-list__date.user-list__date_time               
                
        
