.container.bg-profile
    .payment-status
        .payment-status__title Оплачено
        .payment-status__icon
            img(src="img/passed.png" width="90" height="68" alt="Оплата не прошла")
        a(href="#").payment-status__btn.btn Показать список
        
            
        
