extends ../layout/layout.pug
block vars
	- var title = 'Пригласить друзей';
block header
	include ../includes/header.pug
block content
	include ../includes/content-invite.pug
block footer
	include ../includes/footer.pug     
              
