extends ../layout/layout.pug
block vars
	- var title = 'Новый подарок';
block header
	include ../includes/header.pug
block content
	include ../includes/content-new-present.pug
block footer
	include ../includes/footer.pug     
              
