extends ../layout/layout.pug
block vars
	- var title = 'Оплата прошла';
block header
	include ../includes/header.pug
block content
	include ../includes/content-pay-pass.pug
block footer
	include ../includes/footer.pug     
              
