extends ../layout/layout.pug
block vars
	- var title = 'Список подарков';
block header
	include ../includes/header.pug
block content
	include ../includes/content-list.pug
block footer
	include ../includes/footer.pug     
              
