extends ../layout/layout.pug
block vars
	- var title = 'Профиль пользователя';
block header
	include ../includes/header.pug
block content
	include ../includes/content-profile.pug
block footer
	include ../includes/footer.pug     
              
