extends ../layout/layout.pug
block vars
	- var title = 'Результаты поиска';
block header
	include ../includes/header.pug
block content
	include ../includes/content-result.pug
block footer
	include ../includes/footer.pug     
              
