extends ../layout/layout.pug
block vars
	- var title = 'SMS';
block header
	include ../includes/header.pug
block content
	include ../includes/content-sms.pug
block footer
	include ../includes/footer.pug     
              
