extends ../layout/layout.pug
block vars
	- var title = 'Профиль подтвержден';
block header
	include ../includes/header.pug
block content
	include ../includes/content-user-profile-access.pug
block footer
	include ../includes/footer.pug     
              
