extends ../layout/layout.pug
block vars
	- var title = 'Мой профиль';
block header
	include ../includes/header.pug
block content
	include ../includes/content-user-profile.pug
block footer
	include ../includes/footer.pug     
              
